@charset "utf-8";

/* Imports */

// CSS Reset for cross-browser normalizing.
@import "reset";

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:400,700); // in replacement of helvetica neue. Which I don't have a license to use
@import url(http://fonts.googleapis.com/css?family=Abel);


/* Variables */

// Color Theme
$color_0:#FFFFFF; // White
$color_1:#050f1e; // Dark Blue
$color_2:#34d298; // Turquoise
$color_3:#666666; // Dark Gray
$color_4:#dededb; // Medium Gray
$color_5:#f9f9f9; // Light Gray

// Font Families
$default-font: 'Abel', sans-serif;
$lato: 'Lato', sans-serif;


// Font Sizing
$default-font-size:  12pt;
$header-menu-size:   0.8em;
$title-size:         2em;
$subtitle-size:      1.5em;
$paragraph-size:     1em;

// Base Theme
$header-background: $color_1;
$header-color: $color_0;

$body-background: $color_5;
$body-color: $color_3;

// Spacing & Sizing
$default-padding: 1em;
$default-margin: 1em;
$default-container-size: 90%;
$medium-container-size: 80%;
$large-container-size: 70%;
$br: 4px; 

// Breakpoints
$small: 480px; 
$medium: 768px;
$large: 1200px;

html {
  position: relative;
  background: $body-background;
  color:$body-color;
  font-size: $default-font-size;
  font-family: $default-font;
  a {
    text-decoration: none;
  }
}

// Header 
.header {
  background: $header-background;
  color: $header-color;
  position: relative;
  text-align: center;
  .container{
    padding: $default-padding 0;
  }
  .logo{
    height: 32px;
  }
}

// Navigation
.nav {
  padding-bottom: $default-padding;
  li {
    display: inline-block;
    a {
      color:$header-color;
      text-transform: uppercase;
      font-family: $lato;
      font-size: $header-menu-size;
      padding: 0 $default-padding;
      font-weight: 700;
    }
    &.active a {
      color:$color_2;
    }
  }
}

// Base Container
.container {
  width: $default-container-size;
  margin: 0 auto;
  position: relative;
}

.main-content {
  padding: ($default-padding*2) 0;
}

/* Subtle animation for rendered ng-repeat items */
.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  position: relative;
  &.ng-enter-active {
    position: relative;
    opacity: 1;
  }
}

// .file-list{
//   li{
//     width: 50%;
//     box-sizing:border-box;
//     display: inline-block;
//     padding:$default-padding/2;
//     .file{
//       background: $color_4;
//       padding:$default-padding/2;

//     }
//   }
// }
// 

.file-list table{
  width: 100%;

  thead .table-headers{
    border-radius: $br;
    background: $color_2;
    border:1px solid $color_2;
    color: $color_1;
    font-family: $lato;
    font-size: $header-menu-size;
    text-transform: uppercase;
    th{
      font-weight: 700;
      padding:($default-padding/2);
    }
  }
  tbody {
    background: $color_0;
    border: 1px solid $color_4;
    border-top: none;
  }
  td{
    padding:$default-padding ($default-padding/2);
  }
  
  input[st-search] {
    width: 100%;
    padding: ($default-padding/2);
    margin-bottom: ($default-margin);
    border:1px solid $color_4;
    border-radius: $br;
  }

  // Font Awesome Sort Icons for table
  th[st-sort]{
    cursor: pointer;
    &:after{
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f0dc";
      position: relative;
      margin-left: 5px;
    }
    &.st-sort-ascent:after{
      content: "\f0dd";
    }
    &.st-sort-descent:after{
      content: "\f0de";

    }
  }
  
  tfoot td{
    padding-left: 0;
    padding-right: 0;
  }

  .pagination li{
    background: $color_4;
    color: $color_3;
    border-radius: $br;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    margin: ($default-margin/4);

    a {
      font-size: $header-menu-size;
      padding: ($default-padding/2) $default-padding;
      display: inline-block;
    }
    &:first-child {
        margin-left: 0;
    }
    &.active {
      background: $color_2;
      color: $color_1;
    }
  }
}
