@charset "utf-8";

/* Imports */

// CSS Reset for cross-browser normalizing.
@import "reset";

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:400,700); // in replacement of helvetica neue. Which I don't have a license to use
@import url(http://fonts.googleapis.com/css?family=Abel);


/* Variables */

// Color Theme (Extracted from Penneo.com)
$color_0:#FFFFFF; // White
$color_1:#050f1e; // Dark Blue
$color_2:#34d298; // Turquoise
$color_3:#666666; // Dark Gray
$color_4:#dededb; // Medium Gray
$color_5:#f9f9f9; // Light Gray

// Font Families
$default-font: 'Abel', sans-serif;
$lato: 'Lato', sans-serif;


// Font Sizing
$default-font-size:  12pt;
$header-menu-size:   0.8em;
$title-size:         2em;
$subtitle-size:      1.5em;
$paragraph-size:     1em;

// Base Theme
$header-background: $color_1;
$header-color: $color_0;

$body-background: $color_5;
$body-color: $color_3;

// Spacing & Sizing
$default-padding: 1em;
$default-margin: 1em;
$default-container-size: 90%;
$medium-container-size: 80%;
$large-container-size: 70%;
$logo-height: 32px;
$br: 4px; 

// Breakpoints
$small: 480px; 
$medium: 768px;
$large: 1200px;


// Default Style.
html {
  position: relative;
  background: $body-background;
  color:$body-color;
  font-size: $default-font-size;
  font-family: $default-font;
  a {
    text-decoration: none;
  }
}

// Header 
.header {
  background: $header-background;
  color: $header-color;
  position: relative;
  text-align: left;
  .container{
    padding: $default-padding 0;
  }
  .logo{
    height: $logo-height;
    /*To optimize bandwith consumption, the image should be this size instead of
    scaling it down, but since I don't have a vector image for the logo, I used
    the logo from Penneo.com and manually scaled it. */
  }
}

// Always Hide Overlay Effect on mobile.
.toggleOverlay{
    display: none;
}

// Navigation
.nav {
  position: absolute;
  top: 1em;
  text-align: right;
  right: (100% - $default-container-size)/2; // spacing between content and page border.
  line-height: $logo-height; // line height same as logo to keep all content in header aligned.
  padding-bottom: $default-padding;
  li {
    display: inline-block;
    a {
      color:$header-color;
      text-transform: uppercase;
      font-family: $lato;
      font-size: $header-menu-size;
      padding: 0 $default-padding;
      font-weight: 700;
    }
    &.active a {
      color:$color_2;
    }
  }
}

// Capitalize words.
.capitalize {
  text-transform: capitalize;
}

// Base Container
.container {
  width: $default-container-size;
  margin: 0 auto;
  position: relative;
}

.main-content {
  padding: ($default-padding*2) 0;
  &.open{
    filter: grayscale(80%);
    opacity: 0.8;
    transition: all 0.5s ease;
  }
} 

/* Subtle animation for rendered ng-repeat items */
/* On a bigger project, the animations can be set on a per-interaction basis.
For simplification purposes, I set them as global animations for the whole
application, as it gives a smoother overall feeling.*/
.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  position: relative;
  &.ng-enter-active {
    position: relative;
    opacity: 1;
  }
}

// Table Styling
.file-list table{
  width: 100%;
  // Card titles hidden on desktop layout.
  .card {
    display: none;
  }
  // Header Styling
  thead .table-headers{
    border-radius: $br;
    background: $color_2;
    border:1px solid $color_2;
    color: $color_1;
    font-family: $lato;
    font-size: $header-menu-size;
    text-transform: uppercase;
    th{
      font-weight: 700;
      padding:($default-padding/2);
    }
  }
  // Body Styling
  tbody {
    background: $color_0;
    border: 1px solid $color_4;
    border-top: none;
  }
  // Cell Spacing
  td{
    padding:$default-padding ($default-padding/2);
  }
  // Search Bar Styling
  input[st-search] {
    width: 100%;
    padding: ($default-padding/2);
    margin-bottom: ($default-margin);
    border:1px solid $color_4;
    border-radius: $br;
  }
  // Font Awesome Sort Icons for table
  th[st-sort]{
    cursor: pointer;
    &:after{
      /* Attributes extracted from FontAwesome */
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f0dc";
      position: relative;
      margin-left: 5px;
    }
    &.st-sort-ascent:after{
      content: "\f0dd";
    }
    &.st-sort-descent:after{
      content: "\f0de";
    }
  }

  // Normalize Table footer padding
  tfoot td{
    padding-left: 0;
    padding-right: 0;
  }
  
  // Pagination Styling
  .pagination li{
    background: $color_4;
    color: $color_3;
    border-radius: $br;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    margin: ($default-margin/4);
    a {
      font-size: $header-menu-size;
      padding: ($default-padding/2) $default-padding;
      display: inline-block;
    }
    // Make pagination buttons align with table.
    &:first-child {
      margin-left: 0;
    }
    &.active {
      background: $color_2;
      color: $color_1;
    }
  }
}

.mobile{
  display: none;
}
// Medium Devices Breakpoint. (Transforms Table into Cards Layout)

@media screen and (max-width: $medium) {

  .header{
    text-align: center;
  }
  //reset nav settings
  .nav {
    position: relative;
    text-align: center;
    top: auto;
    right: auto; // spacing between content and page border.
    line-height: normal; // line height same as logo to keep all content in header aligned.
  }

.file-list table{
  display: block;
  .card {
    display: inline;
    font-weight: 700;
  }
    // Convert table elements to block to stack them into a card layout.
    td, th, tr, tfoot {
      display: block;
    }
    thead {
      width: 100%;
      display: block;
      padding: 0 1em;
      box-sizing: border-box;
    }
    //hide table headers
    .table-headers {
      display: none;
    }
    //prepare card style for tablet & mobile
    tbody {
      background: none;
      border:none;
      display: block;
      width: 100%;
      box-sizing:border-box;
      position: relative;
      tr{
        box-sizing:border-box;
        display: inline-block;
        vertical-align: top;
        background: none;
        width: 50%;
        padding:$default-padding;
        td{
          background: $color_0;
          padding: 0 $default-padding;
          border-right: 1px solid $color_4;
          border-left: 1px solid $color_4;
        }
        // Card Header
        td:first-child{
          border-radius: $br $br 0 0;
          background: $color_2;
          border:1px solid $color_2;
          color: $color_1;
          font-family: $lato;
          font-size: $header-menu-size;
          font-weight: 700;
          padding:($default-padding/2);
        }
        td:nth-child(2){
          padding-top: $default-padding;
        }
        td:last-child{
          padding-bottom: $default-padding;
          border-bottom: 1px solid $color_4;
          border-radius: 0 0 $br $br;
        }
      }
    }
    // center pagination button
    tfoot{
      width: 100%;
      .pagination{
        text-align: center;
      }
    }
  }
}

// Small Devices Layout

@media screen and (max-width: $small) {
  
  // Overlay effect on menu toggle.
  .toggleOverlay{
    background: $color_2;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    display: none;
    position: fixed;
    z-index: 100;
  }

  // One card per row in mobile layout
  .file-list table tbody tr{
    width: 100%;
  }
  .nav-toggle{
    display: block;
    position: absolute;
    left: 0;
    padding: ($default-padding/4);
    padding-top: 0;
    font-size: $subtitle-size;
    border-radius: $br;
    color: $color_0;
  }
  .mobile.close{
    display: block;
    position: absolute;
    right: $default-margin;
    top: $default-margin;
    padding: ($default-padding/2);
    border-radius: $br;
    color: $color_0;
  }
  // Drawer Menu
  .nav {
    position: fixed;
    height: 100%;
    width: 200px;
    background: $color_1;
    opacity: 0.95;
    z-index: 999;
    top: 0;
    left: -200px;
    transition: transform 0.3s ease;
    &.open{
      transform: translate(200px,0);
    }
    &:before{
      content: "Menu";
      padding: ($default-padding/2);
      margin: $default-margin auto;
      font-family: $lato;
      font-weight: 700;
      display: block;
    }
    li{
      display: block;
      padding: ($default-padding/2);
      background: rgba(255,255,255,0.05);
      margin: ($default-margin/2);
      border-radius: $br;
    }
  }

}
