<div class="file-list">
  <table st-table="displayedList" st-safe-src="list">
    <thead>
      <tr>
        <th colspan="2">Files</th>
        <th colspan="3">
          <input st-search placeholder="Search" class="input-sm form-control" type="search"/>
        </th>
      </tr>
      <tr class="table-headers">
        <th st-sort="title">Title</th>
        <th st-sort="created" st-sort-default="reverse">Created</th>
        <th st-sort="modified">Modified</th>
        <th st-sort="type">Type</th>
        <th st-sort="status">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in displayedList">
        <td>
          <i ng-if="row.type == 'folder'" class="fa fa-folder"></i> 
          <i ng-if="row.type == 'file'" class="fa fa-file"></i>
          <i ng-if="row.type == 'document'" class="fa fa-file-text"></i>
          <i ng-if="row.type == 'casefile'" class="fa fa-archive"></i>
          {{ row.title }}
        </td>
        <td>
          <span class="card">Created: </span>
          {{ row.created * 1000 | amDateFormat:'DD/MM/YYYY, h:mm a' }}
        </td>
        <td>
          <span class="card">Modified: </span>
          <span>
            {{ row.modified * 1000 | amDateFormat:'DD/MM/YYYY, h:mm a' }}
          </span>
        </td>
        <td class="capitalize">
          <span class="card">Type: </span>
          {{ row.type }}
        </td>
        <td class="capitalize">
          <span class="card">Status: </span>
          {{ row.statusName }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>